.menu-bar{
    -fx-background-color: ffa500;
}
.menu-button {
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-text-fill: white;
}
.node-canvas {
    -fx-background-color: #676e73;
}
.node-graph {
    -fx-background-color: white;
}
.node-graph-header {
    -fx-background-color: #294a7a;
}
.node-image-view{
    -fx-background-color: black;
}
.node-button {
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-text-fill: black;
    -fx-cursor: pointer;
}
.node-button:pressed{
    -fx-background-color: rgba(0,0,0,0.4);
}
.root {
}